@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

:root {
  --header-outer-height: 110px;
  --header-inner-height: 70px;
  --header-height-difference: calc(
    var(--header-outer-height) - var(--header-inner-height)
  );
}

body {
  @apply font-sans relative leading-6 m-0 bg-[#fbefe7];
}

.root {
  @apply inline;
}

.header-outer {
  height: var(--header-outer-height);
  top: calc(var(--header-height-difference) * -1);
}

.header-inner {
  height: var(--header-inner-height);
}

.header-logo img {
  height: calc(var(--header-inner-height) - 10px);
}

.profile-view {
  object-view-box: inset(0.5rem);
}

.hide {
  transition:
    height 1s,
    padding 1s,
    visibility 1s,
    opacity 1s,
    margin 1s,
    border-width 1s;
  visibility: hidden;
  opacity: 0;
  height: 0;
  padding: 0;
  border-width: 0;
  margin: 0;

  img {
    height: 0px;
  }
  h1,
  h2 {
    transition:
      font-size 0.5s,
      line-heightL 0.5s;
    font-size: 0;
    line-height: 0;
  }
}

.show {
  transition:
    height 0.5s,
    padding 0.5s,
    visibility 0.5s,
    opacity 0.5s,
    margin 0.5s,
    border-width 0.5s;
  visibility: visible;
  opacity: 1;
  height: auto;
  padding: 1rem;
  border-width: 0.1rem;
  margin: 0.75rem;

  img {
    transition: height 1s;
    height: calc(var(--header-inner-height) - 10px);
  }
  h1,
  h2 {
    transition:
      font-size 1s,
      line-heightL 1s;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
